<div class="container">
	<div class="panel panel-default">
	    <div class="panel-body">
	    	<div ng-if="values.length > 0">
				<div ng-repeat="value in values">
					<p class="listing">	
						adress: {{value.adress}}<br>
						zipcode: {{value.zipcode}}<br>
						Pris: {{value.price}}<br>
						Antal rum: {{value.rooms}}<br>
						Bo area kvd: {{value.livingarea}}<br>
						Fastighets typ: {{value.propertyType}}<br>
						Förklaring: {{value.description}}<br>
						Tomtarea kvd: {{value.yardarea}}<br>
						Antal våningar: {{value.floors}}<br>

					</p>
					
					<h2>
						{{value.noFind}}
					</h2>
				</div>
			</div>
			<div ng-if="values.length == 0">
				<h2>Could not find any property.</h2>
			</div>
	    </div>
	</div>


	<!-- <div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		<div ng-repeat="item in dropdownItems">
			<li role="presentation">{{item}}</li>
		</div>
		</ul>
	</div>-->
	<button type="button" class="btn btn-info" id="btnFilter">Sök</button> 
</div>