<div ng-if="values.length > 0">
	<div ng-repeat="value in values">
	<p class="remove">	
		adress: {{value.adress}}
		zipcode: {{value.zipcode}}
		Pris: {{value.price}}
		Antal rum: {{value.rooms}}
		Bo area kvd: {{value.livingarea}}
		Fastighets typ: {{value.propertyType}}
		Förklaring: {{value.description}}
		Tomtarea kvd: {{value.yardarea}}
		Antal våningar: {{value.floors}}

	</p>
	
	<h2>
		{{value.noFind}}
	</h2>
	</div>
</div>

<div ng-if="values.length == 0">
	<h2>Could not find any property.</h2>
</div>


<button type="button" class="btn btn-info" id="btnFilter">Sök</button>