<!-- Optional: Add header directive here -->


<div class="container">
	<buy-boxes></buy-boxes>
	<div class="panel panel-default">
	    <div class="panel-body">
	    	<div ng-if="values.length > 0">
				<div ng-repeat="value in values">
					<p>	
					<img class="img-responsive" ng-src="{{value.path}}"><br>
						adress: {{value.adress}}<br>
						Pris: {{value.price}}<br>
						Antal rum: {{value.rooms}}<br>
						Bo area kvd: {{value.livingarea}}
					</p>
				</div>
			</div>
			<div ng-if="values.length == 0">
				<h2>Could not find any property.</h2>
			</div>
	    </div>
	</div>

</div>

<!-- Optional: Add footer directive here -->