<div class="container">
	<div ng-if="staffDatas.length > 0">
		<div ng-repeat="staffData in staffDatas">
			<div class="forsale">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-2">
						<div class="clearfix"></div>
						<img class="img-responsive" ng-src="{{staffData.path}}">
					</div>

					<div class="col-xs-12 col-sm-4">
						<p class="listing">
						Namn: {{staffData.name}}<br>
						Om mig: {{staffData.description}}.<br>
						Aktiv sedan: {{staffData.worktime}} år tillbaka<br>
						Ålder: {{staffData.age}} år<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

