<div class="intro">
    <div class="container">
         <div class="row">
            <div class="col-lg-24">
                <div class="introTitle">
                    <h1>Välkommen!</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="introText">
            <div ng-repeat="homeData in homeDatas">
                <h2>{{homeData.title}}</h2>
                <p>{{homeData.text}}</p>
            </div>
        </div>
    </div>
</div>
