<div class="intro">
    <div class="container">
         <div class="row">
            <div class="col-lg-24">
                <div class="msg">
                    <div class="box">
                      <h1>Välkommen!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
            <h2>Presentation</h2>
            <p>Lorem ipsum dolor sit amet, arcu nonummy vulputate. Vehicula integer, tellus massa vitae laoreet tellus. Eros nam, iure blandit, ipsum ipsum sollicitudin mus augue. Feugiat lectus pretium risus in viverra donec, et tortor mollis accumsan pretium augue, consectetuer vestibulum felis dignissim fermentum ac. Scelerisque nibh justo lectus nec, risus ac, erat pellentesque vel, bibendum pariatur tempor aenean.
Repellendus purus amet, ut erat pretium per pellentesque volutpat, leo sapien nunc nibh turpis nec, orci id, mollis adipiscing ligula nobis neque sem. Venenatis morbi, elit a vulputate in quisque in dui, imperdiet dui eget libero, purus nunc risus ut bibendum sed feugiat. Eget at pulvinar, magnis justo non orci inceptos, vel duis vitae vivamus blandit commodo, est augue vitae. Convallis nec enim duis condimentum wisi, vivamus tempus at ipsum rutrum nunc libero, vivamus felis nulla, integer at, magna do velit. Urna metus, fermentum id vestibulum et condimentum.
Sapien turpis laoreet, sollicitudin erat lorem molestiae lectus laoreet, non tortor ultrices. Arcu iaculis feugiat, pellentesque donec donec nulla libero ante, mus libero velit nam in, sem bibendum. Adipiscing dis deleniti nibh ac id lobortis, sapien neque orci porttitor, lacus magnis fames ornare. Duis erat amet a rutrum volutpat, dolor aenean habitant wisi pulvinar eget, sit tortor ipsum laborum condimentum curabitur, faucibus dui potenti nunc donec turpis, nisl vulputate arcu lectus. Nulla duis auctor nascetur montes, enim lacus urna eget nonummy, sit arcu, mauris luctus euismod. Quam metus duis sodales malesuada, quisque augue parturient esse vel. Dictum quam. Eu magna tellus bibendum eu in, senectus libero dui ante ut vestibulum ut. Lobortis turpis laoreet ullamcorper purus porta. Eu mauris risus enim aliquam pede metus, nibh veniam voluptatem ut faucibus pellentesque blandit.
Venenatis vestibulum minim dolor, nulla quam nullam. A faucibus sodales diam tincidunt mattis id. Risus sed. Elit massa duis, in rhoncus, tellus nunc at erat nibh, leo curabitur suscipit eget consectetuer. Wisi faucibus tellus dui ligula, ultrices metus aliquam, ut dui nec elit morbi auctor est, cras ipsum at bibendum. Lacus risus vestibulum tristique. Amet non aliquet sollicitudin, justo lacus libero non, sodales nullam cum nam. Nullam pharetra. Sapien et purus augue.</p>
        </div>
    </div>
</div>
