html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 90px;
  margin-bottom: 90px;
  background: none;
}

footer a:link {
  color: #000;
  text-decoration: none;
}
footer a:visited {
  color: #000;
}
footer a:hover {
  color: #fff;
}
footer a:active {
  color: #fff;
}

.intro {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  background: url(../img/header.jpg) no-repeat center center;
  background-size: cover;
}

.msg {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgba(248, 248, 248, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
}

.centered-pills {
  text-align:center;
}

.centered-pills ul.nav-pills {
  display:inline-block;
}

.centered-pills li {
  display:inline;
}

.centered-pills a {
  float:left;
}

.navbarBtn {
  padding: 15px;
  padding-top: 12px;
}

#logo {
  padding: 5px;
  margin-top: -4%;
}

.listing {
  color: black;
  font-family: courier;
  font-size: 120%;
  border: solid black 2px;
  width: 50%;
  
}
