html {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	margin-bottom: 90px;
	margin-top: 60px;
}

/*Home*/
.intro {
	height: 400px;
	text-align: center;
	color: #fff;
	background: url(../img/header.jpg) no-repeat center center;
	background-size: cover;
}

.introTitle {
		position: relative;
		margin: 0 auto;
		margin-top: 150px;
		font-family: Baron;
}

.introText {
	padding-top: 20px;
	padding-bottom: 30px;
}

.introText h2 {
	padding-bottom: 10px;
}
/*End Home*/

/*Navbar*/
@font-face {
	font-family: Baron;
	src: url("../fonts/Baron neue bold.otf");
}

.navbar-fixed-top {
	background-color: #bbb;
	font-family: Baron;
	font-size: 1.4em;
	border: none;
}

.navbar-default .navbar-brand {
	font-family: Baron;
	color: #000;
}

.navbar-default .navbar-brand:focus {
	color: #000;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li {
	padding: 10px;
	padding-top: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-default .navbar-nav .active a {
		color: #000;
}

.navbar-default .navbar-nav .active a:hover {
		color: #000;
}

h2 {
	margin-top: 6px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding: 0;
	padding-left: 0;
}

.navbar-toggle {
	margin-right: 0;
}

.navbar-fixed-top .navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}
/*End Navbar*/

/*Footer*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: #555;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000;
}

footer a:link {
	color: #000;
	text-decoration: none;
}

footer a:visited {
	color: #000;
}

footer a:hover {
	color: #fff;
}

footer a:active {
	color: #fff;
}

.black {
	color: #000;
}
/*End Footer*/

/*Broker*/
.listAll {
	margin-top: 20px;
	margin-bottom: 20px;
}

.listAll p {
	font-weight: bold;
}
/*End Broker*/

.listP {
	margin-left: 15px;
}

.big {
	margin-left: 15px;
	font-size: 130%;
}

/*Filter*/
#btnFilter {
	margin-top: 20px;
	margin-bottom: 20px;
}

#filterNow {
	margin-top: 20px;
	margin-bottom: 20px;
}

#nextPrev {
	margin-top: 20px;
	margin-bottom: 40px;
}

.boxFilter {
	background-color: #ccc;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-top: 15px;
}

.boxBg {
	background-color: #ddd;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.antalPadding {
	padding-top: 10px;
}
/*End Filter*/

/*Contact-modal*/
.modal > a:hover {
	cursor: pointer;
}
my-modal:hover {
	cursor: pointer;
	color: white;
}
.modal-content > li > a {
	margin: 0 auto;
}
/*End Contact-modal*/

/*About*/
.aboutBox {
	margin-top: 60px;
	margin-bottom: 20px;
}

.hrWidth {
    float: left;
    width: 250px;
    border-top: 4px solid #ccc;
    margin-bottom: 20px;
}

.aboutBox h2 {
	font-family: Baron;
}

/*End About*/