html {
	position: relative;
	min-height: 100%;
	width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	margin-bottom: 90px;
}

.ngViewContainer {
    padding-top: 70px;
}

/*Home*/
.intro {
	text-align: center;
	color: #fff;
}

.introText {
	padding-top: 20px;
	padding-bottom: 30px;
}

.introText h2 {
	padding-bottom: 10px;
}
/*End Home*/

/*Navbar*/
@font-face {
	font-family: Baron;
	src: url("../fonts/Baron neue bold.otf");
}

.navbar-fixed-top {
	background-color: rgba(187, 187, 187, 0.8);
	font-family: Baron;
	font-size: 1.4em;
	border: none;
}

.navbar-default .navbar-brand {
	font-family: Baron;
	color: #000;
}

.navbar-default .navbar-brand:focus {
	color: #000;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li {
	padding: 10px;
	padding-top: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-default .navbar-nav .active a {
		color: #000;
}

.navbar-default .navbar-nav .active a:hover {
		color: #000;
}

h2 {
	margin-top: 6px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding: 0;
	padding-left: 0;
}

.navbar-toggle {
	margin-right: 0;
}

.navbar-fixed-top .navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}
/*End Navbar*/

/*Filter*/
#btnFilter {
	margin-top: 20px;
	margin-bottom: 20px;
}

#filterNow {
	margin-top: 20px;
	margin-bottom: 20px;
}

#nextPrev {
	margin-top: 20px;
	margin-bottom: 40px;
}

.boxFilter {
	background-color: rgba(204, 204, 204, 0.8);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 15px;
}

.boxBg {
	background-color: rgba(221, 221, 221, 0.8);
	border-radius: 5px;
	padding: 10px;
}

.antalPadding {
	padding-top: 10px;
}

.page-container > .container-fluid:first-child {
    width: 80%;
	margin-right: auto;
	margin-left: auto;
}
/*End Filter*/

/*Broker*/
.listAll {
	margin-top: 20px;
	margin-bottom: 20px;
}

.listAll p {
	font-weight: bold;
}
/*End Broker*/

/*About*/
.aboutBox {
	margin-top: 60px;
	margin-bottom: 20px;
}

.hrWidth {
    float: left;
    width: 250px;
    border-top: 4px solid #ccc;
    margin-bottom: 20px;
}

.aboutBox h2 {
	font-family: Baron;
}
/*End About*/

/* Carousel css start */
.carousel-control {
	display: none;
}

.carousel-indicators {
	display: none;
}

carousel {
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;

	.carousel-inner {
		position: relative;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	    z-index: 0;

	    .carouselSlide {
	    	background-repeat: no-repeat;
	    	background-position: center;
	    	background-size: cover;
	    }
	}

}

.wrapper {
	left: 0;
	right: 0;
	position: absolute;
}

.startBtn {
	text-align: center;
}

.jumbotron {
  	background:rgba(255,255,255,0.8);
    margin-top: 15px;
}

.content {
	opacity: 1.0;
}
/*Carousel end css*/

/*Contact-modal*/
.modal > a:hover {
	cursor: pointer;
}
my-modal:hover {
	cursor: pointer;
	color: white;
}
.modal-content > li > a {
	margin: 0 auto;
}
/*End Contact-modal*/

/*Footer*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: rgba(85, 85, 85, 0.8);
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000;
}

footer a:link {
	color: #000;
	text-decoration: none;
}

footer a:visited {
	color: #000;
}

footer a:hover {
	color: #fff;
}

footer a:active {
	color: #fff;
}

.black {
	color: #000;
}
/*End Footer*/

/*HelpBox*/
.helpBtn {
    position: fixed;
    top: 90px;
}

.fixed-dialog{
  position: fixed;
  top: 50px;
  left: 50px;
}
/*End HelpBox*/

/* List Items */
.listP {
	margin-left: 15px;
}

.big {
	margin-left: 15px;
	font-size: 130%;
}
/*End List Items*/

.well {
  background-color: rgba(221, 221, 221, 0.8);
  border: 0;
}
