// alter bootstrap column #
@grid-columns: 24;
@font-face {
	font-family: Baron;
	src: url("../fonts/Baron neue bold.otf");
}

h1 {
	font-family: Baron;
	-moz-font-feature-settings: "ss03" on;
  -webkit-font-feature-settings: "ss03" on;
  font-feature-settings: "ss03" on;
}
