// alter bootstrap column #
@grid-columns: 24;
@font-face {
	font-family: Baron;
	src: url("Baron neue bold.otf");
}
#logo {
	margin-top: -1%;
	font-feature-settings: SET 03;
	font-variant-alternates: stylistic(SET 03);
}
#navbarBtn {
		margin-top: 2%;
}
