<div class="modal-header">
    <a class="close" data-dismiss="modal" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
    <h3 class="modal-title">{{fastighet.adress}}</h3>
</div>
    <div class="modal-body">
        <img class="img-responsive" ng-src="{{fastighet.path}}">
            </div>
                <p class="listP">
                    <b>Adress: {{fastighet.adress}}</b><br>
                    Postnummer: {{fastighet.zipcode}}<br>
                    Typ: {{fastighet.propertyType}}<br>
                    Antal rum: {{fastighet.rooms}}<br>
                    Bo area: {{fastighet.livingarea}} m²<br>
                    Tomtyta: {{fastighet.yardarea}} m²<br>
                    Antal våningar: {{fastighet.floors}}<br>
                    Objekts förklaring: {{fastighet.description}}
                    <p class="big">
                    <b>Pris: {{fastighet.price}} kr</b>
                    </p>
                </p>
            </div>
    </div>
<div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>