<!DOCTYPE html>

<html ng-app="myApp">
<head>

		<title>A Team Awesome Project</title>

		<meta charset="utf-8">

		<!-- base href for Angular (HTML5 mode) -->
		<base href="/">

		<!-- meta tag for bootstrap (mobile devices) -->
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- JS libs -->
		<script src="libs/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="libs/angular.min.js"></script>
		<script src="libs/angular-touch.min.js"></script>
		<script src="libs/angular-route.min.js"></script>
		<script src="libs/angular-resource.min.js"></script>
		<script src="libs/ui-bootstrap-tpls.min.js"></script>
		<script src="libs/angular-locale_sv-se.js"></script>

		<!-- our JS -->
		<script src="app.js"></script>
		<script src="controllers/home.js"></script>
		<script src="controllers/about.js"></script>
		<script src="controllers/broker.js"></script>
		<script src="/api/ngresources/app"></script>
	    <script src="controllers/navbar.js"></script>

	    <!-- Directives -->
	    <script src="/directives/buyFilter.js"></script>
	    <script src="/directives/modalList.js"></script>
	    <script src="/directives/myModal.js"></script>
	    <script src="/directives/myModalfirst.js"></script>
	    <script src="/directives/helpBox.js"></script>

	    <!--Modals-->
	    <script src="/modals/myModalInstance.js"></script>
	    <script src="/modals/myContactInstance.js"></script>
		<!-- all CSS -->
		<link rel="stylesheet" href="css/all.css">

		<!-- Custom Font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="/" class="brand"><h2>DYHR &amp; RUMSON</h2></a>

            </div>

             <div class="navbar-collapse collapse" ng-class="isCollapsed ? '' : 'in'">

                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-href="/buy">KÖPA</a></li>
                    <li><a ng-href="/broker">MÄKLARE</a></li>
                    <li><a ng-href="/about">OM OSS</a></li>
                    <li class="modal" ng-click="openModal()"><a><my-modal></my-modal></a></li>
                </ul>

            </div>
        </div>
    </nav>

	<ng-view></ng-view>

    <footer class="footer">
    	<div class="container">
    		<div class="row">
    			<div class=".col-xs-12 text-center">
    				<ul class="list-inline">
                        <li><a href="tel:#"><i class="fa fa-phone fa-3x"></i></a></li>
                        <li><img src="img/awesome.png" class="img-responsive center-block"></li>
                        <li ng-click="openModal()"><a class="black"><i class="fa fa-envelope-o fa-3x"></i><my-modalfirst></my-modalfirst></a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </footer>

</body>
</html>