<form>
	<div class="row">
		<div class="col-xs-3 col-sm-6 text-left">
			<button id="filterNow" class="btn btn-primary btn-lg" ng-init="filterCollapsed = true" ng-click="filterCollapsed = !filterCollapsed">Filter</button>
		</div>
		<div class="col-xs-9 col-sm-6 text-left">
			<div class="col-xs-12 col-sm-8 pull-right form-group">
				<h4>Sortera</h4>
				<select class="form-control"
					ng-options="sortOption as sortOption.name for sortOption in filterOptions.sortOption"
					ng-model="sortAndTypeData"
					ng-change="sortAndType()">
					<option value="" disabled selected>Sortera Pris/Boarea</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6 col-sm-3 pull-right">
				<select class="form-control"
					ng-options="itemsPerPage as itemsPerPage + ' per sida' for itemsPerPage in filterOptions.itemsPerPage"
					ng-model="filterOption.itemsPerPage"
					ng-change="filter()">
					<option value="" disabled selected>Visa antal</option>
				</select>
			</div>
		</div>
	</div>

	<div class="collapse boxFilter" ng-class="filterCollapsed ? '' : 'in'">
		<div class="row">
			<div class="col-xs-12 col-sm-4 text-left">
				<div class="form-group col-xs-10 col-xs-offset-1 text-left">
					<h4>Fastighet</h4>
					<select class="form-control"
						ng-options="filterOption as filterOption.name for filterOption in filterOptions.type"
						ng-model="sortAndTypeData"
						ng-change="sortAndType()">
						<option value="" disabled selected>Välj Fastighet</option>
					</select>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 text-left">
				<div class="form-group col-xs-10 col-xs-offset-1 text-left">
					<h4>Boarea</h4>
					<select class="form-control"
						ng-options="filterOption as filterOption + ' m²' for filterOption in filterOptions.areaMin"
						ng-model="filterOption.areaMin"
						ng-change="filter()">
						<option value="" disabled selected>Boarea Från</option>
					</select>
				</div>

				<div class="form-group col-xs-10 col-xs-offset-1 text-left">
					<select class="form-control"
						ng-options="filterOption as filterOption + ' m²' for filterOption in filterOptions.areaMax"
						ng-model="filterOption.areaMax"
						ng-change="filter()">
						<option value="" disabled selected>Boarea Till</option>
					</select>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4 text-left">
  				<div class="form-group col-xs-10 col-xs-offset-1 text-left">
					<h4>Pris</h4>
					<select class="form-control"
						ng-options="filterOption as filterOption | currency for filterOption in filterOptions.priceMin"
						ng-model="filterOption.priceMin"
						ng-change="filter()">
					<option value="" disabled selected>Pris Från</option>
					</select>
				</div>
				<div class="form-group col-xs-10 col-xs-offset-1 text-center">
					<select class="form-control"
						ng-options="filterOption as filterOption | currency for filterOption in filterOptions.priceMax"
						ng-model="filterOption.priceMax"
						ng-change="filter()">
					<option value="" disabled selected>Pris Till</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>